# Ignore node_modules folders in both client and server directories
**/node_modules/

# Ignore build output folders
**/build/
**/dist/

# Ignore environment files
**/.env*
**/.env.local

# Ignore editor files and directories
**/.vscode/
**/.idea/

# Ignore OS files
**/.DS_Store
**/Thumbs.db

# Ignore Serer Logs
server/src/logs/**

server_old
client_old
resources
docker-compose.ymlOLD
mongo-init-dev.js
mongo-init-prod.js

server/uploads